@font-face {
  font-family: "Geomanist-Black";
  src: url("../fonts/geomanist-black-webfont.eot");
  src: url("../fonts/geomanist-black-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/geomanist-black-webfont.woff2") format("woff2"),
    url("../fonts/geomanist-black-webfont.woff") format("woff"),
    url("../fonts/geomanist-black-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Geomanist Black";
  src: url("../fonts/geomanist-black-webfont.eot");
  src: url("../fonts/geomanist-black-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/geomanist-black-webfont.woff2") format("woff2"),
    url("../fonts/geomanist-black-webfont.woff") format("woff"),
    url("../fonts/geomanist-black-webfont.ttf") format("truetype");
}
@font-face {
  font-family: "Geomanist";
  src: url("../fonts/geomanist-black-webfont.eot");
  src: url("../fonts/geomanist-black-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/geomanist-black-webfont.woff2") format("woff2"),
    url("../fonts/geomanist-black-webfont.woff") format("woff"),
    url("../fonts/geomanist-black-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Geomanist Medium";
  src: url("../fonts/geomanist-medium-webfont.eot");
  src: url("../fonts/geomanist-medium-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/geomanist-medium-webfont.woff2") format("woff2"),
    url("../fonts/geomanist-medium-webfont.woff") format("woff"),
    url("../fonts/geomanist-medium-webfont.ttf") format("truetype"),
    url("../fonts/geomanist-medium-webfont.svg") format("svg");
}

@font-face {
  font-family: "Nonesuch Regular";
  src: url("../fonts/Nonesuch-Regular.eot");
  src: url("../fonts/Nonesuch-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Nonesuch-Regular.woff2") format("woff2"),
    url("../fonts/Nonesuch-Regular.woff") format("woff"),
    url("../fonts/Nonesuch-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Realtime-Regular";
  src: url("../fonts/34AEF6_0_0.eot");
  src: url("../fonts/34AEF6_0_0.eot?#iefix") format("embedded-opentype"),
    url("../fonts/34AEF6_0_0.woff2") format("woff2"),
    url("../fonts/34AEF6_0_0.woff") format("woff"),
    url("../fonts/34AEF6_0_0.ttf") format("truetype");
}

body {
  /* margin: 0px; */
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  background-color: #c1d8e3;
}

a {
  text-decoration: none; /* no underline */
  color: white;
}

.footer {
  background: #005aff;
  height: 100px;
  top: 2; /* Make the little person touch the footer */
  font-family: "Geomanist Medium";
  display: flex;
}

.footer img,
.footer object {
  height: 80px !important;
}

.logo {
  height: 90%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.logo object,
.logo img {
  height: 100%;
}

.menubutton {
  padding-top: 48px;
  font-family: "Geomanist Black";
  color: white;
  font-size: x-large;
}


@media screen and (min-device-width: 0px) and (max-device-width: 320px) {
  .wow.nomobile {
    animation-name: none !important;
    /* visibility: visible !important; */
    display: none !important;
  }
  .menubutton,
  .logo {
    padding-right: 4px;
    padding-left: 4px;
    font-size: medium;
  }
  .asbigasyourhead {
    top: -72;
  }
  .about {
    position: relative;
    top: -60;
  }
  .about .girlandchicken {
    top: -20;
    background-position: 0 50;
  }
  .menu {
    margin-top: -90px;
    padding-bottom: 5px;
    padding-top: 32px;
  }

  .col {
    padding: 10px !important;
  }
  .col.col-left div,
  .col.col-right div,
  .menu .heading
   {
    padding-bottom: 10px !important;
  }

  .visit .content .locations .map-container {
    flex: 1;
    padding-top: 8px !important;
  }
  .visit .content .locations .map-container:first-child {
    padding-right: 8px !important;
  }
  .visit .content .locations .map-container:last-child {
    padding-left: 8px !important;
  }
  .visit .content .locations .map-container .map {
    height: 100px;
  }
  .visit .content .locations .map-container .centered {
    margin: 4px;
  }
}

@media screen and (min-device-width: 321px) and (max-device-width: 767px) {
  .wow.nomobile {
    animation-name: none !important;
    /* visibility: visible !important; */
    display: none !important;
  }
  .menubutton,
  .logo {
    padding-right: 8px;
    padding-left: 8px;
    font-size: large;
  }
  .asbigasyourhead {
    top: -100;
  }
  .about {
    position: relative;
    top: -80;
  }
  .about .girlandchicken {
    top: -30;
    background-position: 0 70;
  }
  .menu {
    margin-top: -110px;
    padding-bottom: 5px;
    padding-top: 70px;
  }

  .col {
    padding: 10px !important;
  }

  .col.col-left div,
  .col.col-right div,
  .menu .heading
   {
    padding-bottom: 12px !important;
  }

  .visit .content .locations .map-container {
    flex: 1;
    padding-top: 8px !important;
  }
  .visit .content .locations .map-container:first-child {
    padding-right: 8px !important;
  }
  .visit .content .locations .map-container:last-child {
    padding-left: 8px !important;
  }
  .visit .content .locations .map-container .map {
    height: 100px;
  }
  .visit .content .locations .map-container .centered {
    margin: 4px;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1200px) {
  .menubutton,
  .logo {
    padding-right: 24px;
    padding-left: 24px;
    font-size: xx-large;
  }
  .asbigasyourhead {
    top: -130;
  }
  .about {
    position: relative;
    top: -90;
  }
  .about .girlandchicken {
    top: -50;
    background-position: 0 150;
  }
  .menu {
    margin-top: -150px;
    padding-bottom: 5px;
    padding-top: 100px;
  }
  .menu .heading {
    padding-bottom: 22px;
  }

  .visit .content .locations .map-container {
    flex: 1;
    padding-top: 16px !important;
  }
  .visit .content .locations .map-container:first-child {
    padding-right: 16px !important;
  }
  .visit .content .locations .map-container:last-child {
    padding-left: 16px !important;
  }
  .visit .content .locations .map-container .map {
    height: 200px;
  }
  .visit .content .locations .map-container .centered {
    margin: 16px;
  }

}


@media screen and (min-device-width: 1201px) {
  .menubutton,
  .logo {
    padding-right: 24px;
    padding-left: 24px;
    font-size: xx-large;
  }
  .asbigasyourhead {
    top: -130;
  }
  .about {
    position: relative;
    top: -90;
  }
  .about .girlandchicken {
    top: -140;
    background-position: 0 300;
  }
  .menu {
    margin-top: -300px;
    padding-bottom: 5px;
    padding-top: 200px;
  }

  .visit .content .locations .map-container {
    flex: 1;
    padding-top: 16px !important;
  }
  .visit .content .locations .map-container:first-child {
    padding-right: 16px !important;
  }
  .visit .content .locations .map-container:last-child {
    padding-left: 16px !important;
  }
  .visit .content .locations .map-container .map {
    height: 500px;
  }
  .visit .content .locations .map-container .centered {
    margin: 16px;
  }
}


#nav-menu {
  height: 100px;
  width: 100%;
  background: #005aff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  position: relative;
  background:none;
}
.image-container img,
.image-container object {
  display: block;
  width: 100%;
}
.image-container:after {
  background: -webkit-linear-gradient(-32deg, #fff8e6 calc(50% - 1px), transparent 50%), -webkit-linear-gradient(32deg, #fff8e6 calc(50% - 1px), transparent 50%);
  background: linear-gradient(-32deg, #fff8e6 calc(50% - 1px), transparent 50%), linear-gradient(32deg, #fff8e6 calc(50% - 1px), transparent 50%);
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 72px 72px;
  content: " ";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0px;
  width: 100%;
  height: 150px;
}

.zigzag {
  z-index: 1;
  position: relative;
  padding: 12px;
}

.zigzag:after {
  background: linear-gradient(-32deg, #c1d8e3 calc(50% - 1px), transparent 50%),
    linear-gradient(32deg, #c1d8e3 calc(50% - 1px), transparent 50%);
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 72px 72px;
  content: " ";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 150px;
}

.about .detail {
  color: #005aff;
  text-align: center;
}

.about .girlandchicken {
  position: relative;
  text-align: center;
  background-image: -webkit-linear-gradient(-94deg, #c1d8e3 50%, #ffe63c 50%);
  background-repeat: no-repeat;
}

.asbigasyourhead img,
.asbigasyourhead object {
  width: 100%;
}

.asbigasyourhead {
  z-index: 10;
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#freshchickenbreast {
  width: 100%;
}

.menu {
  background: #ffe63c;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}



.menu img,
.menu object {
  width: 100%;
  min-width: 0;
  height: auto;
}

.menu > div:first-child {
  width: 80%;
  min-width: 0;
}


.menu .combo {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.twocol {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 0 1 auto;
  width: 80%;
  /* padding: 20px; */
}

.col {
  display: flex;
  flex-direction: column;
  /* flex: 1; */
  flex: 0 0 50%;
  padding: 20px;
  min-width: 0;
}

.col.col-left div {
  margin-left: auto;
}

.col.col-right div {
  margin-right: auto;
}

.col div {
  width: 100%;
  padding-bottom: 40px;
}


@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}



.fadeInUp:not(.hide-mobile) {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.animated:not(.hide-mobile) {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.perfection {
  background: #74d6af;
  top: -1;
}

.perfection img,
.perfection object {
  width: 100%;
}

#promotion {
  background: #74d6af;
  width: 100%;
}

#promotion img,
#promotion object {
  width: 100%;
}

.asseenin {
  margin-bottom: -3px;
}

.visit {
  background: #005aff;
  margin-top: -1px;
}

.visit img,
.visit object {
  width: 100%;
  min-width: 0;
  height: auto;
}

.visit .content {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

.visit .content .locations {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.visit .content .locations .map-container {
  flex: 1;
  padding-top: 24px;
}
.visit .content .locations .map-container:first-child {
  padding-right: 24px;
}
.visit .content .locations .map-container:last-child {
  padding-left: 24px;
}

.visit .content .locations .map-container .map {
  background: white;
  width: 100%;
}

.visit .content .locations .map-container .centered {
  text-align: center;
}
.visit .content .locations .map-container .centered object,
.visit .content .locations .map-container .centered img {
  width: 100%;

}

.bump-up {
  position: relative;
  top: -1px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: none;
  padding: 8px;
  width: 80%; /* Could be more or less, depending on screen size */
  justify-content: center;
  display: flex;
  position: relative;
}

.modal-content object,
.modal-content img {
  width: 100%;
}

.menubutton * {
  cursor: hand;
}